<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <parameter name="URL" value="https://jikan.moe/"/>  
  
  
  <test  name="Test on Chrome landing page Jikan">
    <parameter name="BrowserType" value="Chrome"/>     
    <classes>
      <class name="com.Jikan_Test.Test_Page"/>
    </classes>
  </test> 
  
  <test  name="Test on FireFox landing page Jikan">
  <parameter name="BrowserType" value="Firefox"/>
    <classes>
      <class name="com.Jikan_Test.Test_Page"/>
    </classes>
  </test> 
  <test  name="Test on Edge landing page Jikan">
  <parameter name="BrowserType" value="Edge"/>
    <classes>
      <class name="com.Jikan_Test.Test_Page"/>
    </classes>
  </test> 
  
</suite> 


